<!-- breadcrumb -->
<div class="w3_breadcrumb">
	<div class="breadcrumb-inner">
		<ul>
			<li><a href="index.html">Home</a><i>//</i></li>
			<li>Contact</li>
		</ul>
	</div>
</div>
<!-- //breadcrumb -->
<!--/content-inner-section-->
<div class="w3_content_agilleinfo_inner">
	<div class="agile_featured_movies">
		<div class="inner-agile-w3l-part-head">
			<h3 class="w3l-inner-h-title">Contact</h3>
			<p class="w3ls_head_para">Add short Description</p>
		</div>
		<div class="w3_mail_grids">
			<form action="#" method="post">
				<div class="col-md-6 w3_agile_mail_grid">
					<span class="input input--ichiro">
						<input class="input__field input__field--ichiro" type="text" id="input-25" placeholder=" "
							required="">
						<label class="input__label input__label--ichiro" for="input-25">
							<span class="input__label-content input__label-content--ichiro">Your Name</span>
						</label>
					</span>
					<span class="input input--ichiro">
						<input class="input__field input__field--ichiro" type="email" id="input-26" placeholder=" "
							required="">
						<label class="input__label input__label--ichiro" for="input-26">
							<span class="input__label-content input__label-content--ichiro">Your Email</span>
						</label>
					</span>
					<span class="input input--ichiro">
						<input class="input__field input__field--ichiro" type="text" id="input-27" placeholder=" "
							required="">
						<label class="input__label input__label--ichiro" for="input-27">
							<span class="input__label-content input__label-content--ichiro">Your Phone Number</span>
						</label>
					</span>

				</div>
				<div class="col-md-6 w3_agile_mail_grid two">
					<textarea name="Message" placeholder="Your Message" required=""></textarea>
					<input type="submit" value="Submit">
				</div>
				<div class="clearfix"> </div>
			</form>
			<div class="agileits-get-us">
				<ul>
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>United States,Utah 10009, USA</li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> +033 111 222 4567</li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">
							mail@example.com</a></li>
				</ul>

			</div>

		</div>
	</div>
	<div class=" map">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12947831.742778081!2d-95.665!3d37.599999999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1422444552833"></iframe>
	</div>
</div>
<!--//content-inner-section-->


<!--/footer-bottom-->
<div class="contact-w3ls" id="contact">
	<div class="footer-w3lagile-inner">
		<h2>Sign up for our <span>Newsletter</span></h2>
		<p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus
			tristique bibendum. Donec rutrum sed sem quis venenatis.</p>
		<div class="footer-contact">
			<form action="#" method="post">
				<input type="email" name="Email" placeholder="Enter your email...." required=" ">
				<input type="submit" value="Subscribe">
			</form>
		</div>
		<div class="footer-grids w3-agileits">
			<div class="col-md-2 footer-grid">
				<h4>Release</h4>
				<ul>
					<li><a href="#" title="Release 2016">2016</a></li>
					<li><a href="#" title="Release 2015">2015</a></li>
					<li><a href="#" title="Release 2014">2014</a></li>
					<li><a href="#" title="Release 2013">2013</a></li>
					<li><a href="#" title="Release 2012">2012</a></li>
					<li><a href="#" title="Release 2011">2011</a></li>
				</ul>
			</div>
			<div class="col-md-2 footer-grid">
				<h4>Movies</h4>
				<ul>

					<li><a href="genre.html">ADVENTURE</a></li>
					<li><a href="comedy.html">COMEDY</a></li>
					<li><a href="series.html">FANTASY</a></li>
					<li><a href="series.html">ACTION </a></li>
					<li><a href="genre.html">MOVIES </a></li>
					<li><a href="horror.html">HORROR </a></li>

				</ul>
			</div>


			<div class="col-md-2 footer-grid">
				<h4>Review Movies</h4>
				<ul class="w3-tag2">
					<li><a href="comedy.html">Comedy</a></li>
					<li><a href="horror.html">Horror</a></li>
					<li><a href="series.html">Historical</a></li>
					<li><a href="series.html">Romantic</a></li>
					<li><a href="series.html">Love</a></li>
					<li><a href="genre.html">Action</a></li>
					<li><a href="single.html">Reviews</a></li>
					<li><a href="comedy.html">Comedy</a></li>
					<li><a href="horror.html">Horror</a></li>
					<li><a href="series.html">Historical</a></li>
					<li><a href="series.html">Romantic</a></li>
					<li><a href="genre.html">Love</a></li>
					<li><a href="comedy.html">Comedy</a></li>
					<li><a href="horror.html">Horror</a></li>
					<li><a href="genre.html">Historical</a></li>

				</ul>


			</div>
			<div class="col-md-2 footer-grid">
				<h4>Latest Movies</h4>
				<div class="footer-grid1">
					<div class="footer-grid1-left">
						<a href="single.html"><img src="images/1.jpg" alt=" " class="img-responsive"></a>
					</div>
					<div class="footer-grid1-right">
						<a href="single.html">eveniet ut molesti</a>

					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="footer-grid1">
					<div class="footer-grid1-left">
						<a href="single.html"><img src="images/2.jpg" alt=" " class="img-responsive"></a>
					</div>
					<div class="footer-grid1-right">
						<a href="single.html">earum rerum tenet</a>

					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="footer-grid1">

					<div class="footer-grid1-left">
						<a href="single.html"><img src="images/4.jpg" alt=" " class="img-responsive"></a>
					</div>
					<div class="footer-grid1-right">
						<a href="single.html">eveniet ut molesti</a>

					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="footer-grid1">
					<div class="footer-grid1-left">
						<a href="single.html"><img src="images/3.jpg" alt=" " class="img-responsive"></a>
					</div>
					<div class="footer-grid1-right">
						<a href="single.html">earum rerum tenet</a>

					</div>
					<div class="clearfix"> </div>
				</div>


			</div>
			<div class="col-md-2 footer-grid">
				<h4 class="b-log"><a href="index.html"><span>M</span>ovies <span>P</span>ro</a></h4>
				<div class="footer-grid-instagram">
					<a href="single.html"><img src="images/m1.jpg" alt=" " class="img-responsive"></a>
				</div>
				<div class="footer-grid-instagram">
					<a href="single.html"><img src="images/m2.jpg" alt=" " class="img-responsive"></a>
				</div>
				<div class="footer-grid-instagram">
					<a href="single.html"><img src="images/m3.jpg" alt=" " class="img-responsive"></a>
				</div>
				<div class="footer-grid-instagram">
					<a href="single.html"><img src="images/m4.jpg" alt=" " class="img-responsive"></a>
				</div>
				<div class="footer-grid-instagram">
					<a href="single.html"><img src="images/m5.jpg" alt=" " class="img-responsive"></a>
				</div>
				<div class="footer-grid-instagram">
					<a href="single.html"><img src="images/m6.jpg" alt=" " class="img-responsive"></a>
				</div>

				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			<ul class="bottom-links-agile">
				<li><a href="icons.html" title="Font Icons">Icons</a></li>
				<li><a href="short-codes.html" title="Short Codes">Short Codes</a></li>
				<li><a class="active" href="contact.html" title="contact">Contact</a></li>

			</ul>
		</div>
		<h3 class="text-center follow">Connect <span>Us</span></h3>
		<ul class="social-icons1 agileinfo">
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa fa-youtube"></i></a></li>
			<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		</ul>

	</div>

</div>
@* <div class="w3agile_footer_copy">
<p>© 2017 Movies Pro. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
</div> *@
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;">
	</span></a>

<script src="/Assets/js/jquery-1.11.1.min.js"></script>
<!-- Dropdown-Menu-JavaScript -->
<script>
	$(document).ready(function () {
		$(".dropdown").hover(
			function () {
				$('.dropdown-menu', this).stop(true, true).slideDown("fast");
				$(this).toggleClass('open');
			},
			function () {
				$('.dropdown-menu', this).stop(true, true).slideUp("fast");
				$(this).toggleClass('open');
			}
		);
	});
</script>
<!-- //Dropdown-Menu-JavaScript -->
<!-- search-jQuery -->
<script src="/Assets/js/main.js"></script>
<!-- //search-jQuery -->


<!--/script-->
<script type="text/javascript" src="/Assets/js/move-top.js"></script>
<script type="text/javascript" src="/Assets/js/easing.js"></script>

<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function () {
		/*
		var defaults = {
				containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/

		$().UItoTop({ easingType: 'easeOutQuart' });

	});
</script>
<!--end-smooth-scrolling-->
<script src="/Assets/js/bootstrap.js"></script>
