@{
    Layout = "_EmptyLayout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online-Cinema-Booking</title>

    <link rel="stylesheet" href="/Ticket/style.css">
</head>

<body>
    <div class="Message">
        <div class="icon"><img src="/Assets/icons/cross.png" alt=""></div>

        <h1 style="text-align: center;">Your Ticket Booking Transaction has been failed. Please Try It Again.</h1><a
            href="/PublicInterface/Index">BACK</a>
    </div>


</body>

</html>
