@using SimpleAuth.Provider.Interfaces
@inject ICurrentUserProvider _CurrentUserProvider
@{
    var currentUser = await _CurrentUserProvider.GetCurrentUser();
}
@if (_CurrentUserProvider.IsLoggedIn())
{
    <div class="dropdown ms-2">
        <a class="dropdown-toggle d-flex align-items-center user-settings" href="#!" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span>@currentUser.Name</span>
            <img src="/AdminPanelAssets/images/SA.jpg" class="img-3x m-2 me-0 rounded-3" alt="Admin Templates" />
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm shadow-sm gap-3">
            <a class="dropdown-item d-flex align-items-center py-2" href="#"><i class="icon-gitlab fs-4 me-3"></i>User
                Profile</a>
            <a class="dropdown-item d-flex align-items-center py-2" href="#"><i class="icon-settings fs-4 me-3"></i>Account
                Settings</a>
            <a class="dropdown-item d-flex align-items-center py-2" href="/PublicInterface/Logout"><i
                    class="icon-log-out fs-4 me-3"></i>Logout</a>
        </div>
    </div>
}