@model SimpleAuth.ViewModels.Setup.LanguageAddVm

<form method="post">

    <div class="container mt-4">
        <div class="card shadow-lg">
            <div class="card-header">
                <h4 class="card-title text-center text-success text-uppercase">Adding Language</h4>
            </div>
            <div class="card-body">
                <div style="border-top: 4px solid;" class="mb-2 border-success">
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="Name" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="Country" class="form-label">Country</label>
                        <input type="text" class="form-control" name="Country" required>
                    </div>

                </div>


            </div>
            <div class="card-footer">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-success w-100">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>